.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  list-style: none;
}

.pagination .page {
  margin: 0 3px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #5c859b;
  cursor: pointer;
  font-family: 'Nanum Gothic';
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-align: center;
}

.pagination .page:hover {
  background-color: #5c859b55;
}

.pagination .active {
  color: #D94A56;
}