#root {
  max-width: 500px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  font-family: "Inter var", "SUIT Variable", "Nanum Gothic", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}