* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  flex-shrink: 0;
}

:root {
}

html {
}

@font-face {
  font-family: "SUIT Variable";
  font-weight: 100 900;
  src: url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "SUITE Variable";
  font-weight: 300 900;
  src: url("https://cdn.jsdelivr.net/gh/sunn-us/SUITE/fonts/variable/woff2/SUITE-Variable.woff2")
    format("woff2-variations");
}
