* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  flex-shrink: 0;
}

:root {
}

html {
}

body {
  // 가로 스크롤 생기면 이중 스크롤 생기는 문제 수정
  overflow-y: hidden;
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
